name: Job Series
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "build"
  test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - run: echo "test"
  deploy:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - run: echo "deploy"